.footer-wrapper{
  width: 100%;
  padding: .5rem 0;
  background-color: #6495ed;
  color: #fff;
}
.footer{
  display: inline-block;
  @media screen and(min-width: 1024px) {//大于1201px
    width: 50rem;
  }
}
.item{
  margin-right: .5rem;
}
.mail{
  margin-right: 2rem;
}
.mail-link{
  color: #fff;
  &:hover{
    color: #333333;
  }
}
.link{
  color: #fff;
}
