.chk-content-body {
    position: relative;
    font-size: .8rem;
    font-family: "Pingfang SC", STHeiti, "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
    color: #3d464d;
    line-height: 28px;
}
.chk-content-body h1 {

}

.chk-content-body h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 1.5em 0;
}

.chk-content-body h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 1.5em 0;
}

.chk-content-body table {
    word-wrap: break-word;
}

.chk-content-body p {
    word-wrap: break-word;
    margin-bottom: 16px;
    text-indent: 32px;
}

.chk-content-body a {
    color: #46B;
    transition: color .3s;
}

.chk-content-body a:hover {
    color: #c00;
}

.chk-content-body img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.chk-content-body pre {
    font-size: 13px;
    overflow-x: auto;
    border-radius: 4px;
    padding: 10px;
    line-height: 1.4;
    word-wrap: normal;
    display: block;
    background: #3f3f3f;
    color: #dcdcdc;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.chk-content-body ::-webkit-scrollbar {
    width: 5px!important;
    height: 5px!important;
    -webkit-appearance: none;
}
.chk-content-body ::-webkit-scrollbar {
    width: 10px!important;
    height: 10px!important;
    -webkit-appearance: none;
}
.chk-content-body ::-webkit-scrollbar-thumb {
    height: 5px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: none;
    -webkit-border-radius: 6px;
    background: rgba(153,153,153,.9);
    background-clip: padding-box;
}

.chk-content-body code {
    overflow-x: auto;
    border-radius: 4px;
    padding: 10px;
    line-height: 1.4;
    word-wrap: normal;
    display: block;
    font-size: 13px;
    background: #3f3f3f;
    color: #dcdcdc;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.chk-content-body blockquote {
    position: relative;
    color: #000;
    font-size: .75rem;
    background: #f4f4f4;
    margin: 20px 0;
    padding: 16px 24px 16px 35px;
}

.chk-content-body ol {
    list-style-type: decimal;
}
.chk-content-body ol{
    margin: 0 0 .5rem .9rem;
    padding: 8px 15px;
}
.chk-content-body ul{
    margin: 0 0 .5rem 2.4rem;
    padding: 8px 15px;
}
.chk-content-body .code-variable, .code-template-variable, .code-attribute{
    color: #efdcbc;
}
.chk-content-body .code-deletion, .code-string, .code-built_in, .code-builtin-name {
    color: #cc9393;
}
.chk-content-body .code-addition, .code-comment, .code-quote, .code-meta {
    color: #7f9f7f;
}
.chk-content-body .code-keyword, .code-selector-tag, .code-tag {
    color: #e3ceab;
}
.chk-content-body .code-title, .code-name, .code-selector-id, .code-selector-class, .code-section, .code-type {
    color: #efef8f;
}
.chk-content-body .menu-index{
    position: absolute;
}